<div id="home-image">
	<%= image_tag "home.jpg" %>
</div>
<h1>TTC 瑜伽导师培训班</h1>
<p>
TTC的课程开始于40年前，已经培养了超过26, 000名世界公认的毕业生。  Swami Vishnudevananda是第一个在西方发展这种瑜伽教师培训体系的创始人，他不仅成功的传扬了经典瑜伽，更在传教瑜伽的同时在世界上传播和平。 TTC承袭了传统的Gurukura 独特的教授学习方式， 这种方式是根据现代人的生活节奏为基础， 让学生在日常生活中通过系统的学习（包括瑜伽哲学，唱颂，体位法，呼吸法以及奉爱瑜伽等） 来深刻体会瑜伽的真正人生意义及目的。
</p>
<p>
TTC的课程为一个月， 在这为期四周的瑜伽精舍生活中，学生们通过瑜伽练习增强自律能力，更深一步的体会意识个人头脑，身体，以及精神层的本质， 同时更为日后的教学能力打下充足的自信心和坚实的基础。
</p>
<p>
TTC的课程旨在唤醒，深化个人瑜伽练习，传扬和世界交流，传播瑜伽文化的一个绝佳机会；更重要的是教会如何把瑜伽融入在日程生活中发掘人心的内在美， 领会快乐的本质，用平和，无私的心态和所有人分享瑜伽的生活方式。TTC课程的毕业生将获得国际认可的瑜伽联盟注册瑜伽学校（RYS）200小时的证书认证。
</p>
<div class="blank10"></div>
<div id="home-video-wrapper">
	<div class="row">
		<div class="span5 offset1">
			video 1
			todo 
		</div>
		<div class="span5 offset1">
			video 2
			todo
		</div>
	</div>
</div>
