<div id="home-image">
	<%= image_tag "home.jpg" %>
</div>
<div class="blank10"></div>
<div id="home-video-wrapper">
	<div class="row">
		<div class="span5 offset1">
			video 1
		</div>
		<div class="span5 offset1">
			video 2
		</div>
	</div>
</div>
