<h1>我的申请</h1>

<table>
  <tr>
    <th>姓名</th>
    <th>状态</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @myapplication.first_name + @myapplication.last_name%></td>
    <td><%= @myapplication.status%></td>
  </tr>

</table>

<br />
