<%= image_tag "master1.jpg" %>
<h1>聖者 斯旺米. 希瓦南達大師 ( Swami Sivananda 1887—1963)</h1>
<p>聖者陛下  斯旺米  希瓦南達 一代宗師</p>

<p>大師是現代瑜伽最偉大的聖者和瑜伽修行者,  被尊奉為印度瑜伽的國寶. 在印度無人不知, 是現代世界瑜伽之鼻祖. 受全世界瑜伽界一致之尊崇.
</p>
<p>祖師為本學派之始祖及本學院之精神領袖. 祖師本為一專業醫師, 但他認為拯救人的靈魂比醫好人的身體更為重要. 故獨自到喜瑪拉雅山修行瑜伽以救世渡人.
</p>
<p>一生 共著作200本以上的瑜伽書藉. 並指派他最重要的弟子 尊者 斯旺米 威斯奴帝維南達  大師 到北美洲及歐洲傳授瑜伽.
</p>
<p>大師的信條是 “ 服務, 仁愛, 奉獻, 淨化, 冥想, 証悟 “. 
這也是達到古典瑜伽的正確方法.
</p>
<%= image_tag "master2.jpg" %>
<h1>斯旺米 威斯奴帝維 南達 大師</h1>
<p>尊者  福人  斯旺米 威斯奴帝維南達  大師</p>
<p>尊者是本學院的創始人, 是美洲及歐洲的瑜珈先驅者. 在1967年成立國際希瓦南達瑜珈吠檀多學院. 專授哈達瑜珈, 聖王瑜珈, 古典瑜伽和智慧瑜珈. 是現代世界瑜珈 "導師班" 訓練制度的創造者.</p>
<p>他的瑜珈著作是全世界最暢銷書之一. 是一位對世人充滿了愛與關的瑜珈聖者</p>
<p>大師在很年輕時就被他的師父, 在瑞西克西的聖者 希瓦南達大師 授命為 "瑜伽吠檀多森林學院的” 瑜珈教授 “ . 他最有名的著作”瑜珈坐禪和梵音” 一書是瑜珈界最暢銷的書,  他也是我們導師班上課講義的編寫人.</p>
<p>大師曾經到全世界最危險的地區去傳授瑜珈, 由1967年開始, 他已經教授了超過 26,000 多名以上的瑜珈老師,  他的至理名言  是“ 健康是財富, 安寧之心是快樂, 瑜珈就是達到的道路.”</p>