<% content_for :active_sub_nav do %>
	active
<% end %>

<div class="row-fluid">
	<h2 class="word-centered word-shadow blue">Four Paths of Yoga</h2>
	<div class="article-wrapper span8 offset2">
	<p class="paragraph">
	Yoga means Union. Union between the individual self and the Universal Self; union between Body-Mind-Spirit. There are four main paths to attain this union which bring health, happiness and peace of mind: Karma Yoga, Bhakti Yoga, Raja Yoga (Hatha Yoga) and Jnana Yoga. Each path is suited to a different temperament or approach to life. All the paths lead ultimately to the same goal. Swami Sivananda&rsquo;s approach is the synthesis of all these paths in daily life.</p>
	
	<h4 class="blue">1. Karma Yoga, The Path of Action</h4>
	
	<p class="paragraph">
	The ashram is run entirely by dedicated karma yogis. By acting selflessly, without thought of personal gain or reward, and by detaching from the fruits of actions and instead offering them to God, the Karma Yogi purifies the heart and sublimates the ego.</p>
	
	<h4 class="blue">2. Bhakti Yoga, The Path of Devotion</h4>
	
	<p class="paragraph">
	Through prayer, worship and ritual, the Bhakti Yogi surrenders to God, channelling and transmuting emotions into unconditional love or devotion. Chanting or singing the praises of God form a substantial part of Bhakti Yoga.</p>
	
	<h4 class="blue">3. Raja Yoga and Hatha Yoga</h4>
	
	<p class="paragraph">
	This path is often called Ashtanga, or eight-limbed yoga. It is the path of body, breath and mind control, and meditation. Hatha yoga is part of Raja yoga. It offers a systematic method for controlling the waves of thought. The chief practice of Raja Yoga is meditation. When body and energy are under control, meditation comes naturally</p>
	
	<h4 class="blue">4. Jnana Yoga, The Yoga of Knowledge</h4>
	
	<p class="paragraph">
	This is vedantic meditation and self-enquiry. Requiring tremendous strength of will and intellect, the Jnana Yogi uses intellect to inquire into his or her own true nature and into the nature of reality. Before practicing Jnana Yoga, the aspirant needs to have integrated the lessons of the other yogic paths - for without selflessness and love of God, strength of body and mind, the search for self-realization can become mere idle speculation.</p>
	</div>
</div>

