<% content_for :active_arrow do %>
	2
<% end %>
<% content_for :active_sub_nav2 do %>
	active
<% end %>

<div class="row">
	<div class="span3">
		<ul class="nav nav-sidebar">
			<li><%= link_to "teacher A", "#" %></li>
			<li><%= link_to "teacher B", "#" %></li>
		</ul>
	</div>
	<div class="span8">
		<h3 class="blue small">教师介绍 --  Teacher A</h3>
		<div class="article-wrapper">
			<p class="paragraph">已经很多年没在农村见到乞丐了。小时候，每天都会有人来乞讨，一手拿打狗棒，一手拿旧瓷缸站在门口，也不说话，把蛇皮袋往门口一放，别人就会在自家米缸里舀半罐米倒进去。
这是最普通的乞讨，到了春节乞丐会多出好几倍，花样也多了起来。有一种叫贴财神，贴的是印着财神的廉价印刷品。来人一到门口，赶紧把财神照门上一贴，口里喊着老板发财发大财。这种情况给半罐米是不行了，得给一块钱。碰到小气一点的，还没等乞丐站稳，一个箭步冲过去，嘴里嚷着别贴别贴，唰的一下把半罐米往蛇皮袋里一倒，再得意洋洋地看着乞丐。乞丐只好干瞪着眼，一脸不情愿地离开。</p>
		<p class="paragraph">还有一些打快板的，也要给钱，唱的无非是“生意兴隆通四海，财源茂盛达三江”这样的吉利话。如果乞讨的人少，村民们还乐意听一听，要是来的太频繁，很多人就赶紧给一块钱打发走。</p>
		</div>
	</div>
</div>
