<% content_for :active_arrow do %>
	3
<% end %>

<% content_for :active_sub_nav3 do %>
	active
<% end %>

<div class="row-fluid">
	<h2 class="word-centered word-shadow blue">呼吸课程</h2>
	<div class="article-wrapper span8 offset2">
	<p class="paragraph">这个为期两周的课程主要针对TTC毕业学进行深一步学习而设立的，课程内容由Swami Vishnudevanda亲自设计，其中包括针对性的高级瑜伽体式，呼吸课程及瑜伽哲理， 由Sivananda 精舍的资深教师教授</p>
</div>
