<div class="row-fluid">
	<div class="article-wrapper span8 offset2">
		<h2 class="word-centered word-shadow blue">斯文南达瑜伽 (Sivananda Yoga) 系统介绍</h2>
		<p class="paragraph">
		Sivananda Yoga ：一个以爱与和平为宗旨的瑜伽，是目前世界上最完整的瑜伽学习体系之一。
		</p>
		 
		<p class="paragraph">
		Sivananda Yoga　课程分为:
		</p>
		<blockquote>
			RYS 200小时的瑜伽教师培训 ( TTC为期一个月 )；<br/>
			RYS 500小时的瑜伽教师培训（ATTC为期一个月，须参加过TTC之后才可参加的课程；<br/>
			15天的呼吸方法系统课程（Sadhana Intensive，也须参加过TTC之后參加）<br/>
		</blockquote >
		 
		<p class="paragraph">
		Sivananda Yoga 也是世界上瑜伽学习人数最多的学习体系之一。以温暖、柔和、科学有系统的教学方式，教授全面且完整的瑜伽哲学闻名世界。Sivananda Yoga不但是引领当今许多瑜伽大师认识瑜伽智慧的入门体系，也是许多新兴瑜伽派系指定学生应认识学习的瑜伽体系之一。
		</p>
		 
		<p class="paragraph">
		目前，全球有将近40000名的瑜伽老师参加过Sivananda的RYS200小时瑜伽教师师资培训课程，中国内地的暂时不到十人。因为去各国的Sivananda参加TTC, 英语要求很高。 所以我们正在翻译中文教材，和中文的介绍网站。
		</p>
		 
		<p class="paragraph">
		（国内大部分任教的印度籍瑜伽老师都参加过Sivananda的瑜伽教师培训，国内现在非常著名的 悠季瑜伽 莫汉老师Mr.Mohan）
		</p>
		 
		<p class="paragraph">
		Sivananda Yoga包括体式（适合普通人练习的一套体式 、孕妇瑜伽、小朋友瑜伽）呼吸方法、 冥想 、瑜伽哲学… 也有为人处世、 与天、地、人的哲学。
		</p>
		 
		<p class="paragraph">
		Sivananda在世界各地有八十多处的Sivananda瑜伽中心，北美洲(加拿大、美国各大城市)，中美洲（巴哈马等）南美洲（巴西、阿根廷等），欧洲各国首都(意大利、法国、英国、德国…)，亚洲包括印度各大城市、泰国首都曼谷、台北(马上会有中国内地）、中东（以色列首都特拉维夫、海法等）
		</p>
		<p class="paragraph">
		Sivananda Yoga因为语言原因，进入中国内地晚了些。但还好，终于开始跨入这个门槛了，在全世界正在崛起的一个大国里传授传统经典的Sivananda yoga...
		</p>

		<p class="paragraph">
		Sivananda Yoga所有的瑜伽中心为非盈利性机构，所有TTC、 ATTC、 Sadhana Intensive、 Yoga Vacationa的学费都为了去开始创办下一个Sivananda瑜伽中心…
		</p>

		<p class="paragraph">
		为了让每一个Yogi有一个身体、心灵休息的地方…
		</p>
		
	</div>
</div>

 

